@font-face {
    font-family: "Aniron";
	src: url('polices/anicb___.ttf');
}

@font-face {
    font-family: "tngan";
	src: url('polices/tngani.ttf');
}

@font-face {
    font-family: "party";
	src: url('polices/partybusiness.ttf');
}

body{
    background-image: url(images/bg_light.png);
}

/*navbar*/
.navbar-expand-lg {
    background-color: #ff6600;
}

.navbar-nav .nav-link{
    color: white;
    font-family: Aniron;
    font-size: 0.9em;
}

nav li + li::before {
	content: "|";
	float: left;
	width: 2px;
	line-height: 36px;
	color: white;
}

/*carousel*/
#fellows h2{
    font-family: Aniron;
    font-size: 2.3vw;
}

.soustitre{
    font-size: 1.3vw;
    color:black;
}

.carousel-caption{
    top: 30%;
    bottom: auto;
}

.carousel-caption h5{
    font-family: party;
    font-size: 5vw;
}

.carousel-caption P{
    font-family: party;
    font-size: 2.5vw;
}

.symbole{
    font-family: tngan;
    color: #ff6600;
}

/*pills*/
#buttonfellows{
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Aniron;
}

.nav-link{
    color: grey;
}
.nav-item2 .nav-link {
    color:#ff6600;
    border-bottom : 4px solid;
} 

/*card*/

.image {
    position: relative;
    text-align: center;
    background-image: url(images/bg_dark.png);
}

.imagedead{
    position: relative;
    text-align: center;
    background-image: url(images/bg_dark.png);
}

.imagedead img {
    opacity: 0.5;
}

.img-thumbnail{
    background-image: url(images/bg_dark.png);
    border: none;
}
    
.image img {
    opacity: 0.5;
}
    
.image:hover img {
    opacity: 1;
    transition : 0.5s ease-in-out;
}
    
.texte {
    position: absolute;
    width: 80%;
    top: 4%;
    left: 10%;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #888;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    opacity: 0.8;
    font-family: party;
}

.textedead{
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    text-align: center;
    color: #ff6600;
    font-family: party;
    font-size: 50px;
}
    
span {
    color:#ff6600;
}
    
.image:hover .texte {
    display:none;
}

.name {
    position: absolute;
    top: 50%;
    left: 32%;
    color: #ffffff;
    text-align: center;
}

.namedead{
    position: absolute;
    top: 50%;
    left: 32%;
}

.namedead h3{
    font-family: party;
    font-size: 45px;
    color: #ffffff;
}

.line {
    text-decoration: line-through #ff6600;
  }
        
.image:hover .name {
    top: 80%;
    left: 32%;
    transition : 0.5s ease-in-out;
    text-align: center;
}

.name h3{
    font-family: party;
    font-size: 45px;

}

.card-body{
    background-image: url(images/bg_dark.png);
    color:white;
    font-family: party;
    font-size: 30px;
}

/*reward*/
#reward{
    background-image: url(images/bg_dark.png);
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#reward h2{
    color: white;
    font-family: Aniron;
    font-size: 20px;
}

#reward p{
    color: white;
    font-family: party;
}


/* bouton contact*/

#buttoncontact .btn{
    background-color: white;
    font-family: Aniron;
    color: #ff6600;
}

#buttoncontact{
    text-align:center;
}

/*hunters*/

#hunters{
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

#hunters h2{
    font-family: Aniron;
    font-size: 2.3vw;
}

.media-body h4{
    font-family: party;
    color: #ff6600;
    font-size: 40px;
}

.media-body p{
    font-family: party;
    font-size: 20px;
}

.media-body a{
    color: black;
    text-decoration: underline;
}

.media-body .btn{
    background-color: black;
    color: #ff6600;
}

/*ring*/
#ring{
    background-image: url(images/bg_dark.png);
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

#ring h2{
    color: white;
    font-family: Aniron;
    font-size: 20px;
    padding-bottom: 2%;
}

#ring .card .card-title{
    font-family: party;
    color: black;
}

#ring .card .card-header{
    background-color: #ff6600;
    color: white;
    font-family: Aniron;
}

#ring .card .card-body{
    background-image: url(images/bg_light.png);
}

#captured{
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    background-image: url(images/bg_light.png);
    font-family: party;
    font-size: 30px;
}

.right{
    text-align: right;
}

/*tableau*/

.table{
    font-family: Aniron;
    font-size: 18px;
}

td{
    width: 50%;
    text-align:center;
}

th{
    width: 50%;
    text-align:center;
}

/*army*/

#army h2{
    color: black;
    font-family: Aniron;
    font-size: 20px;
    padding-bottom: 2%;
}

#army p{
    font-family: party;
    font-size: 23px;
}

#buttoncontact2{
    padding-top: 10%;
    text-align: center;
}

#buttoncontact2 h6{
    font-family: Aniron;
    color: #ff6600;
}

#buttoncontact2 .btn{
    text-align: center;
    background-color: black;
    color: #ff6600;
    font-family: Aniron;
}

/*contact*/
#contact {
    background-image: url(images/bg_dark.png);
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

#contact h2{
    font-family: Aniron;
    color: white;
    font-size: 20px;
    padding-bottom: 2%;
}

#contact img{
    text-align: center;
}

#contact form{
    font-family: Aniron; 
}

#contact .btn{
    background-color: white;
    color:  #ff6600;
}

/*footer*/
#footer{
    background-color: #ff6600;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
}

#footer a{
    text-decoration: none;
    color: white;
    font-family: Aniron;
}

#footer ul{
    list-style:none;
}